# Arquivos compilados
build/
dist/
*.class
*.jar

# NetBeans
nbproject/private/
nbproject/build-impl.xml
nbbuild/
nbdist/

# Logs e temporários
*.log
*.tmp
*.bak

# Sistema operacional
.DS_Store
Thumbs.db


Entrega Parcial 3/
*.zip
/Entrega Parcial 1/E-commerce/nbproject/private/
/Entrega Parcial 1/JavaApplication2/build/
/Entrega Parcial 1/JavaApplication2/dist/

/Entrega Parcial 1/questions and answers/nbproject/private/
/Entrega Parcial 1/questions and answers/build/
(Lógica completa do servidor: rodadas, buzzer com timer de 15s, placar, segunda chance e reinício)
/JavaApplication2/build/
/JavaApplication2/dist/
/JavaApplication2/nbproject/private/
