# Arquivos compilados
build/
dist/
*.class
*.jar

# NetBeans
nbproject/private/
nbproject/build-impl.xml
nbbuild/
nbdist/

# Logs e temporários
*.log
*.tmp
*.bak

# Sistema operacional
.DS_Store
Thumbs.db


Entrega Parcial 3/
*.zip